<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commento.demo.dao.StatisticMapper">
    <select id="selectYearLogin" parameterType="long" resultType="java.util.HashMap">
        select count(*) as totCnt from statistics.requestinfo ri where left(ri.createDate, 2) = #{year};
    </select>

    <select id="selectRequestInfo" resultType="java.util.HashMap">
        select * from statistics.requestInfo;
    </select>
</mapper>